* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.rojo {
    background-color: red;
}